$font: 'Roboto Mono', monospace;

$color-gray: var(--color-gray);
$color-gray-50: var(--color-gray-50);
$color-red: var(--color-red);
$color-black: var(--color-black);
$color-black-const: var(--color-black-const);
$color-white: var(--color-white);
$color-green: var(--color-green);
$color-purple: var(--color-purple);
