@import '@/styles/variables';

.imageWrapper {
	position: relative;
	width: 2rem;
	height: 2rem;
}

.image {
	border-radius: 100%;
	width: 2rem;
	height: 2rem;
	fill: $color-black;
}

.name {
}

.leftSide {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.rightSide {
	display: flex;
	align-items: center;
	gap: 1rem;
	@media (max-width: 767px) {
		display: none;
	}
}

.hamburger {
	display: none;
	&Icon {
		height: 2rem;
		width: 2rem;
	}
	@media (max-width: 767px) {
		display: block;
	}
}
