.wrapper {
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
}

.button {
	padding: 0;
	color: var(--color-black);
	min-width: fit-content;
	&:hover {
		background-color: transparent;
	}
}

.icon {
	width: 2rem;
	height: 2rem;
}
