@import '@/styles/mixins';

.title {
	text-align: center;
	font-weight: 400;
	text-wrap: balance;
	@include adaptiv-font(40, 20);
}

.bold {
	font-weight: 700;
}

.p {
	text-wrap: balance;
	text-align: center;
	@include adaptiv-font(20, 12);
}

.h2 {
	text-align: center;
	font-weight: 400;
	text-wrap: balance;
	@include adaptiv-font(30, 15);
}

.logo {
	width: 3rem;
	height: 3rem;
	@media (max-width: 767px) {
		width: 2rem;
		height: 2rem;
	}
	@media (max-width: 400px) {
		width: 1.5rem;
		height: 1.5rem;
	}
}
