@import '@/styles/variables';

.wrapper {
	background-color: $color-gray;
	color: $color-black;
	padding: 1rem;
	border-radius: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.picker {
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	margin-right: 1rem;
}

.left {
	display: flex;
	align-items: center;
}
